.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

@font-face {
  font-family: "Roboto Slab Regular";
  /*src: local("Roboto Slab"), url(./fonts/RobotoSlab-Regular.ttf) format("opentype");*/
}

button,
div {
  font-family: "Roboto Slab Regular",sans-serif;
}

